* { font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    margin-block: 0.2rem;
}
h1 {
    color: rgb(0, 54, 170);
    font-size: 4.209rem;
}
h2 {
    color: chartreuse;
    font-size: 2.369rem;
}
h3 {
    color: rgb(136, 45, 17);
    font-size: 1.777rem;
}
h4 {
    color: rgb(88, 128, 129);
    font-size: 1.333rem;
}

h5 {
    font-size: 1.414rem;

}

h6 { 

}

p {
    line-height: 1.6em;
    margin-block: 0.6em;
}

/* div {
    border: solid 1px rgb(99, 64, 131);
    width: 150px;
} */

header {
    background-color: darkgray;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

button {
    background-color: navy;
    color: white;
    border-radius: 50px;
}

.btn-large {
    width: 300px;
    height: 80px;
    font-size: 21px;
}

.card {
    background-color: lavender;
    padding: 20px;    
    width: 250px;
    margin: 50px 30px 10px 30px;
}

#card {
    justify-content: space-evenly;
}

img {
    width: 100%;
}
.logo-header {
    width: 100px;
}

#hero {
    height: 100vh;
    /* background-color: tomato; */
    text-align: center;
    background-image: url('../img/Grass.jpg');
    background-size: cover;
    /* background-position: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#about {
    height: 50vh;

}

#contact {
height: 600px;
background-color: rgb(218, 226, 226);
/* border: 5px solid blueviolet; */
padding: 50px 150px;

}

#footer {
    height: 50vh;
    }

    .container {
        display: flex; /* or inline-flex */
    }

    /* a:link { 
        background-color: bisque;
        text-decoration: cadetblue;
    } */

    a:hover { 
        background-color: rgb(31, 21, 170);

    }
    /* a:visited {
background-color: coral;
    } */

    a:active {
        background-color: rgb(80, 76, 74);
    }
        
    a.menu:link, a.menu:visited {
        background: none;
    }
    a.menu:hover {
        color: crimson;
    }

    /* section div h3 {
        border: 2px; dashed  
    } */
    a.icon:hover {
        background-color: darkgreen;
        color: darksalmon;
        border-radius: 50%;
    }