* { font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    color: rgb(0, 54, 170);
    font-size: 4.209rem;
}
h2 {
    color: chartreuse;
    font-size: 2.369rem;
}
h3 {
    color: rgb(136, 45, 17);
    font-size: 1.777rem;
}
h4 {
    color: rgb(88, 128, 129);
    font-size: 1.333rem;
}
/* div {
    border: solid 1px rgb(99, 64, 131);
    width: 150px;
} */

.card {
    background-color: lavender;
    width: 250px;
    padding: 20px;
    border: 2px solid rgb(201, 189, 189);
    margin: 50px 30px 10px 30px;
}
img {
    width: 100%;
}
.logo-header {
    width: 100px;
}

#hero { 
    height: 30vh;
    /* background-color: cornsilk; */
text-align: center;
background-image: url('../img/flower.jpg');
background-size: auto;
background-position: center;
}
button {
    background-color: navy;
    color: white;
    border-radius: 50px;
}

.btn-large {
    width: 300px;
    height: 80px;
    font-size: 21px;
}
#about {
    height: 50vh;

}

#contact {
height: 50vh;
}

#footer {
    height: 50vh;
    }
