body {
    margin: 0;
}

h1 {
    color: rgb(0, 54, 170);
}
h2 {
    color: chartreuse;
}
h3 {
    color: rgb(136, 45, 17);
}
h4 {
    color: rgb(88, 128, 129);
}
/* div {
    border: solid 1px rgb(99, 64, 131);
    width: 150px;
} */

.card {
    background-color: lavender;
    width: 250px;
    padding: 20px;
    border: 2px solid rgb(201, 189, 189);
    margin: 50px 30px 10px 30px;
}
img {
    width: 100%;
}
.logo-header {
    width: 100px;
}

.button {
    width: 150px;
    color: rgb(255, 255, 255); 
}
#hero { 
    height: 30vh;
    /* background-color: cornsilk; */
text-align: center;
}